@import '_material_color.scss';

/* Firepad */
$firepad-z-index: 6;

/* Transitions */
$theme-transition-duration: 0.3s;
@function transition-standard($args, $duration:$theme-transition-duration) {
    $string: nth($args, 1) $duration ease-out;
    @for $i from 2 to length($args) + 1 {
        $string: $string, nth($args, $i) $duration ease-out;
    }
    @return $string;
}

/* Colors */
$theme-color: indigo;
$theme-accent-color: blue;
$theme-warning-color: red;

$theme-background: material-color($theme-color, 50);
$theme-loading-background: material-color($theme-color, 500);

$theme-table-row-1: material-color($theme-color, 50);
$theme-table-row-2: material-color($theme-color, 100);

$theme-primary: material-color($theme-color, 500);
$theme-primary-light: material-color($theme-color, 300);
$theme-primary-dark: material-color($theme-color, 700);

$theme-accent: material-color($theme-accent-color, A400);
$theme-accent-light: material-color($theme-accent-color, A200);
$theme-accent-dark: material-color($theme-accent-color, A700);

$theme-warning: material-color($theme-warning-color, 500);
