@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-drawer-panel#drawer-chapters::shadow {
    #scrim {
        z-index: $firepad-z-index;
    }

    #drawer {
        z-index: $firepad-z-index + 1;
    }
}

#firepad-container {
    padding: 0;
    overflow: auto;

    #firepad {
        height: 100%;
    }
}
