@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
}

#chapters-container {
    position: absolute;
    overflow: auto;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}
