@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

#chapter-toolbar {
    background-color: $theme-primary;
    color: $white-primary;
    position: absolute;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
}

#chapters-container {
    @include transition(top 0.1s ease-out);
    position: relative;
    overflow: auto;
    /* Top is set to under #chapter-toolbar via Javascript. */
    top: 0;
    left: 0;
    right: 0;
}

#form-delete {
    padding-top: 20px;
}

/* paper-input */
paper-input.paper-input-0::shadow {
    .paper-input-container {
        &.input-content {
            label {
                color: $white-secondary;
            }

            &.label-is-floating.label-is-highlighted label, input {
                color: $white-primary;
            }
        }

        &.underline.is-highlighted .focused-line {
            background-color: $white-primary;
        }
    }
}

/* paper-radio-button */
paper-radio-button.paper-radio-button-0 {
    &::shadow .paper-radio-button {
        &#onRadio {
            background-color: $white-primary;
        }

        &#offRadio {
            border-color: $white-secondary;
        }

        &#radioLabel {
            color: $white-secondary;
        }
    }

    &[checked]::shadow #offRadio.paper-radio-button {
        border-color: $white-primary;
    }
}
