@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
    padding: 4px 8px;
}

.button-container {
    clear: both;
}

#group {
    h2 {
        margin-bottom: 0;
    }

    #group-metadata {
        margin-bottom: 8px;
    }
}

#group-members {
    padding: 0 20px;
}

.helper {
    color: $black-secondary;
}

paper-checkbox {
    margin-left: 12px;
}
