@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-fab {
    position: fixed;
    top: 12px;
    right: 16px;
    z-index: 4;
}
