@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

.button-container {
    clear: both;
}

#container-public-groups {
    noootes-group {
        border-top: solid $black-divider 2px;

        &:first-child {
            border-top: none;
        }
    }
}
