@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

.button-container {
    margin-top: 8px;
    clear: both;
}

.helper {
    color: $black-secondary;
}

paper-checkbox {
    margin-left: 12px;
}
