@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

.button-container {
    margin-top: 8px;
    clear: both;
}

#container-groups-owned, #container-groups-joined {
    noootes-group-management {
        border-top: solid $black-divider 2px;

        &:first-child {
            border-top: none;
        }
    }
}

.helper {
    color: $black-secondary;
}

paper-checkbox {
    margin-left: 12px;
}
