@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
    padding: 4px 8px;
}

#group {
    h2 {
        margin-bottom: 0;
    }

    #group-metadata {
        margin-bottom: 8px;
    }
}
